<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="wordDao" class="le09.WordDao"/>

    <bean id="wordRegisterService1" class="le09.WordRegisterService">
        <!-- @Autowired로 알아서 아래를 설정할 수 있음-->
        <!--<constructor-arg ref="wordDao"/>-->
    </bean>

    <!--<bean id="wordDao1" class="le10.WordDao">-->
        <!--<qualifier value="usedDao"/>-->
    <!--</bean>-->
    <!--<bean id="wordDao2" class="le10.WordDao"/>-->
    <!--<bean id="wordDao3" class="le10.WordDao"/>-->

    <bean id="wordRegisterService2" class="le10.WordRegisterService">
        <!-- @Autowired로 알아서 아래를 설정할 수 있음-->
        <!--<constructor-arg ref="wordDao"/>-->
    </bean>



</beans>